<div class="model-wrapper">
  <div class="model-wrapper__label">Your account</div>
  <div class="model-wrapper__model-group">
    <div class="model-wrapper__model-info-block">
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">First name: </div>
        <div class="model-info-wrapper__info"><%= current_account.account_user.first_name %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Last name:</div>
        <div class="model-info-wrapper__info"><%= current_account.account_user.last_name %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Age:</div>
        <div class="model-info-wrapper__info"><%= current_account.account_user.age %></div>
      </div>
    </div>
    <div class="model-wrapper__model-info-block">
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Email:</div>
        <div class="model-info-wrapper__info"><%= current_account.account_user.account.email %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Account type: </div>
        <div class="model-info-wrapper__info"><%= current_account.account_user.account_type %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Is unsubscribed from new surveys:</div>
        <div class="model-info-wrapper__info"><%= current_account.account_user.opt_out %></div>
      </div>
    </div>
  </div>
  <div class="model-wrapper__model-table-wrapper model-table-wrapper">
    <div class="model-table-wrapper__label">Your employer</div>
    <div class="model-table-wrapper__table custom-table">
      <div class="custom-table__table-header-wrapper table-header-wrapper">
        <div class="table-header-wrapper__table-header-element table-header-element w-10">
          <div class="table-header-element__label">
            Logo
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label">
            Label
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label">
            Email
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label">
            Phone
          </div>
        </div>
      </div>
      <div class="custom-table__table-row-wrapper table-row-wrapper">
        <div class="table-row-wrapper__information w-10">
          <%= image_tag(current_account.account_user.employer.logo_url, size: "75x75") %>
        </div>
        <div class="table-row-wrapper__information">
          <%= current_account.account_user.employer.label %>
        </div>
        <div class="table-row-wrapper__information">
          <%= current_account.account_user.employer.public_email %>
        </div>
        <div class="table-row-wrapper__information">
          <%= current_account.account_user.employer.phone %>
        </div>
      </div>
    </div>
  </div>
  <div class="model-wrapper__model-table-wrapper model-table-wrapper">
    <div class="model-table-wrapper__label">Your groups</div>
    <div id="listing-table_0" class="model-table-wrapper__table custom-table">
      <div class="custom-table__table-header-wrapper table-header-wrapper">
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__arrows-wrapper arrows-wrapper">
            <div id="sort-arrow_up_0_table_0"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
            <div id="sort-arrow_down_0_table_0"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
          </div>
          <div class="table-header-element__label">
            Label
          </div>
        </div>
      </div>
      <% unless current_account.account_user.groups.empty? %>
        <% current_account.account_user.groups.each do |group| %>
          <div class="custom-table__table-row-wrapper table-row-wrapper">
            <div class="table-row-wrapper__information">
              <%= group.label %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="custom-table__message">Empty</div>
      <% end %>
    </div>
  </div>
</div>
