<%= form_with scope: :administrator, url: admin_administrators_url(@administrator), method: :post, class: "model-wrapper" do |admin_form| %>
  <div class="model-wrapper__label">New administrator</div>
  <div class="model-wrapper__model-group">
    <div class="model-wrapper__model-info-block">
      <div class="model-wrapper__model-info-wrapper input-wrapper">
        <div class="model-info-wrapper__label">Nickname:</div>
        <div class="model-info-wrapper__info"><%= admin_form.text_field :nickname %></div>
      </div>
      <%= admin_form.fields_for :account_attributes do |account_form| %>
      <div class="model-wrapper__model-info-wrapper input-wrapper">
        <div class="model-info-wrapper__label">Email:</div>
        <div class="model-info-wrapper__info"><%= account_form.text_field :email %></div>
      </div>
    </div>
    <div class="model-wrapper__model-info-block">
      <div class="model-wrapper__model-info-wrapper input-wrapper">
        <div class="model-info-wrapper__label">Password:</div>
        <div class="model-info-wrapper__info"><%= account_form.password_field :password %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper input-wrapper">
        <div class="model-info-wrapper__label">Password confirmation:</div>
        <div class="model-info-wrapper__info"><%= account_form.password_field :password_confirmation %></div>
      </div>
      <% end %>
    </div>
  </div>

  <%= admin_form.submit "Create administrator" %>
  
<% end %>
