<%= content_tag :div, id: "clients_data", data: {clients: @clients_data} do %>
<% end %>

<%= javascript_pack_tag "admin/surveys/new.js" %>
<%= javascript_pack_tag "extra/table-behavior.js" %>

<%= form_with scope: :survey, url: admin_surveys_url(@survey), method: :post, class: "model-wrapper" do |survey_form| %>
  <div class="model-wrapper__label">New survey</div>
  <div class="model-wrapper__model-group">
    <div class="model-wrapper__model-info-block">
      <div class="model-wrapper__model-info-wrapper input-wrapper">
        <div class="model-info-wrapper__label">Label: </div>
        <div class="model-info-wrapper__info"><%= survey_form.text_field :label %></div>
      </div>
    </div>
  </div>
  <div class="model-wrapper__model-table-wrapper model-table-wrapper">
    <div class="model-table-wrapper__label">User's company</div>
    <div id="listing-table_0" class="model-table-wrapper__table custom-table">
      <div class="custom-table__table-header-wrapper table-header-wrapper">
        <div class="w-10 table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label">
            Logo
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label">
            Label
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label">
            Email
          </div>
        </div>
        <div class="w-10 table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label">
          </div>
        </div>
      </div>
      <div id="add-row_0" class="custom-table__table-row-wrapper table-row-wrapper link-div custom-table__message">
        <%= inline_svg_tag('plus-sign.svg', class: "svg-plus") %>
      </div>
    </div>
  </div>

  <div id="current-qgroups-wrapper"></div>
  <button id="add_qgroup">Add new question group</button>

  <div id="current_client_id" style="display: none;"></div>

  <%= survey_form.submit "Create survey" %>
  
<% end %>

<div id="modal_0" class="modal-background modal-background--hidden">
  <div class="modal-content">
    <div class="modal-content__header-wrapper">
      <div class="modal-content__header-label">Select company</div>
      <div id="modal-close_0" class="modal-content__header-button">
        <%= inline_svg_tag('cross-sign.svg', class: "svg-cross") %>
      </div>
    </div>
    <div class="modal-content__body">
      <div id="listing-table_1" class="listing-wrapper__custom-table custom-table">
        <div class="custom-table__table-header-wrapper table-header-wrapper">
          <div class="table-header-wrapper__table-header-element table-header-element w-10">
            <div class="table-header-element__label">
              Logo
            </div>
          </div>
          <div class="table-header-wrapper__table-header-element table-header-element">
            <div class="table-header-element__arrows-wrapper arrows-wrapper">
              <div id="sort-arrow_up_1_table_1"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
              <div id="sort-arrow_down_1_table_1"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
            </div>
            <div class="table-header-element__label">
              Label
            </div>
          </div>
          <div class="table-header-wrapper__table-header-element table-header-element">
            <div class="table-header-element__arrows-wrapper arrows-wrapper">
              <div id="sort-arrow_up_2_table_1"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
              <div id="sort-arrow_down_2_table_1"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
            </div>
            <div class="table-header-element__label">
              Email
            </div>
          </div>
        </div>
        <!-- Clients data goes here -->
      </div>
    </div>
  </div>
</div>
