<h1>Admin</h1>
<h2>Survey Info</h2>


<h3>Survey's clients</h3>
<% unless @survey_clients.empty? %>
<% @survey_clients.each do |client| %>
  <%= link_to admin_client_url(client) do %>
    <h4><%= client.label %></h4>
  <% end %>
<% end %>
<% else %>
<h4>Empty</h4>
<% end %>

<h3>Survey Info:</h3>
<% unless @survey_question_groups.empty? %>
  <% @survey_question_groups.each do |question_group| %>
    <h3>Question group</h3>
    <h4><%= question_group.label %></h4>
    <h3>Questions:</h3>
    <% unless question_group.questions.empty? %>
      <% question_group.questions.each do |question| %>
        <h3>Question</h3>
        <h4><%= question.question_type %></h4>
        <h3>Answers:</h3>
        <% unless question.answers.empty? %>
          <% question.answers.each do |answer| %>
            <h3>Answer</h3>
            <h4><%= answer.answer_val %></h4>
            <h3>User:</h3>
            <%= link_to admin_user_url(answer.user) do %>
              <h4>
                <%= answer.user.first_name %>
                <%= answer.user.last_name %>
              </h4>
            <% end %>
          <% end %>
        <% else %>
          <h4>Empty</h4>
        <% end %>
      
      <% end %>
    <% else %>
      <h4>Empty</h4>
    <% end %>
  
  <% end %>
<% else %>
  <h4>Empty</h4>
<% end %>
