<div class="model-wrapper">
  <div class="object-group-wrapper">
    <div class="object-group-wrapper__label">Client Info</div>
    <div class="colored-group">
      <div class="object-group-wrapper__info-wrapper info-wrapper">
        <div class="info-wrapper__label">Logo URL:</div>
        <div class="info-wrapper__information">
          <%= @client.logo_url %>
        </div>
      </div>
      <div class="object-group-wrapper__info-wrapper info-wrapper">
        <div class="info-wrapper__label">Label:</div>
        <div class="info-wrapper__information">
          <%= @client.label %>
        </div>
      </div>
      <div class="object-group-wrapper__info-wrapper info-wrapper">
        <div class="info-wrapper__label">Phone:</div>
        <div class="info-wrapper__information">
          <%= @client.phone %>
        </div>
      </div>
      <div class="object-group-wrapper__info-wrapper info-wrapper">
        <div class="info-wrapper__label">Email:</div>
        <div class="info-wrapper__information">
          <%= @client.email %>
        </div>
      </div>
      <div class="object-group-wrapper__info-wrapper info-wrapper">
        <div class="info-wrapper__label">Address:</div>
        <div class="info-wrapper__information">
          <%= @client.address %>
        </div>
      </div>
    </div>
  </div>

  <div class="object-group-wrapper">
    <div class="object-group-wrapper__label">Client's users</div>
    
      <% unless @clients_users.empty? %>
        <% @clients_users.each do |user| %>
          <div class="colored-group">
            <div class="object-group-wrapper__info-wrapper info-wrapper">
              <div class="info-wrapper__label">First name:</div>
              <div class="info-wrapper__information"><%= user.first_name %></div>
            </div>
            <div class="object-group-wrapper__info-wrapper info-wrapper">
              <div class="info-wrapper__label">Last name:</div>
              <div class="info-wrapper__information"><%= user.last_name %></div>
            </div>
            <%= link_to "Details", admin_user_url(user), class: "link-button object-group-wrapper__button" %>
          </div>
        <% end %>
      <% else %>
        <div class="colored-group">
          <div class="object-group-wrapper__message">Empty</div>
        </div>
      <% end %>
  </div>

  <div class="object-group-wrapper">
    <div class="object-group-wrapper__label">Client's segments</div>
    
      <% unless @clients_segments.empty? %>
        <% @clients_segments.each do |segment| %>
          <div class="colored-group">
            <div class="object-group-wrapper__info-wrapper info-wrapper">
              <div class="info-wrapper__label">Label:</div>
              <div class="info-wrapper__information"><%= segment.label %></div>
            </div>
            <%= link_to "Details", admin_segment_url(segment), class: "link-button object-group-wrapper__button" %>
          </div>
        <% end %>
      <% else %>
      <div class="colored-group">
        <div class="object-group-wrapper__message">Empty</div>
      </div>
      <% end %>
  </div>
</div>
