<%= javascript_pack_tag "extra/table-behavior.js" %>

<div class="listing-wrapper">
  <div class="listing-wrapper__label-wrapper">
    <div class="label-wrapper__label">All groups</div>
    <%= link_to "Add new group", new_employer_group_url, class: "link-button label-wrapper__button" %>
  </div>
  <div id="listing-table_0" class="listing-wrapper__custom-table custom-table">
    <div class="custom-table__table-header-wrapper table-header-wrapper">
      <div class="table-header-wrapper__table-header-element table-header-element">
        <div class="table-header-element__arrows-wrapper arrows-wrapper">
          <div id="sort-arrow_up_0_table_0"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
          <div id="sort-arrow_down_0_table_0"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
        </div>
        <div class="table-header-element__label">
          Name
        </div>
      </div>
      <div class="table-header-wrapper__table-header-element table-header-element">
        <div class="table-header-element__arrows-wrapper arrows-wrapper">
          <div id="sort-arrow_up_1_table_0"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
          <div id="sort-arrow_down_1_table_0"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
        </div>
        <div class="table-header-element__label">
          Date of creation
        </div>
      </div>
    </div>
    <% unless @groups.empty? %>
      <% @groups.each do |group| %>
        <%= link_to(employer_group_url(group), class: "custom-table__table-row-wrapper table-row-wrapper link-div table-row_0") do %>
          <div class="table-row-wrapper__information">
            <%= group.label %>
          </div>
          <div class="table-row-wrapper__information">
            <%= group.created_at.to_formatted_s(:db) %>
          </div>
        <% end %>
      <% end %>
      <%= paginate @groups %>
    <% else %>
      <div class="custom-table__message">Empty</div>
    <% end %>
  </div>
</div>
