<div class="model-wrapper">
  <div class="model-wrapper__label">Your account</div>
  <div class="model-wrapper__model-group">
    <div class="model-wrapper__model-info-block">
      <%= image_tag(current_account.account_user.logo_url, size: "200x200", alt: "Logo load failed") %>
    </div>
    <div class="model-wrapper__model-info-block">
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Name: </div>
        <div class="model-info-wrapper__info"><%= current_account.account_user.label %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Address: </div>
        <div class="model-info-wrapper__info"><%= current_account.account_user.address %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Phone:</div>
        <div class="model-info-wrapper__info"><%= current_account.account_user.phone %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Public email:</div>
        <div class="model-info-wrapper__info"><%= current_account.account_user.public_email %></div>
      </div>
    </div>
  </div>
</div>