<%= javascript_pack_tag "employee/surveys/attempt.js" %>

<div class="attempt-wrapper">
  <%= form_with url: conduct_employee_survey_url(@survey), method: :post do |form| %>
  <div class="attempt-wrapper__label font-large">
    Survey Label
  </div>
  <div class="attempt-wrapper__content-wrapper content-wrapper">
    <!-- Question group info here -->
    <% @survey.question_groups.each_with_index do |qgroup, index| %>
      <div id="qgroup_<%= index %>" class="qgroup-wrapper">
        <div class="qgroup-wrapper__qgroup-label-wrapper qgroup-label-wrapper">
          <div class="qgroup-label-wrapper__label font-big">
            <%= qgroup.label %>
          </div>
        </div>
        <% qgroup.questions.each do |question| %>
          <div class="qgroup-wrapper__question-wrapper question-wrapper">
            <div class="question-wrapper__text font-big">
              <%= question.question_type %>
            </div>
            <% question.options.each do |option| %>
              <div class="question-wrapper__answer-option-wrapper answer-option-wrapper">
                <% if option.has_text_field %>
                  <div class="answer-option-wrapper__label-wrapper">
                    <input type="radio" value="<%= option.id %>" name="answers[<%= question.id %>][option_data]" id="radio_with_field_<%= option.id %>" class="answer-option-wrapper__radio">
                    <div class="answer-option-wrapper__label"><%= option.text %></div>
                  </div>
                  <input class="answer-option-wrapper__text-field" type="text" id="field_<%= option.id %>">
                <% else %>
                  <div class="answer-option-wrapper__label-wrapper">
                    <input type="radio" value="<%= option.id %>" name="answers[<%= question.id %>][option_data]" class="answer-option-wrapper__radio">
                    <div class="answer-option-wrapper__label"><%= option.text %></div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="content-wrapper__content-footer content-footer">
      <div class="progress__wrapper">
        <% @survey.question_groups.each_with_index do |qgroup, index| %>
          <div class="progress__element" id="progress_<%= index %>">
            <%= index + 1 %>
          </div>
        <% end %>
      </div>
      <%= image_submit_tag("next-arrow.svg", class: 'next-button svg-next-arrow') %>
    </div>
  </div>
  <% end %>
</div>
