<%= javascript_pack_tag "extra/table-behavior.js" %>

<div class="listing-wrapper">
  <div class="listing-wrapper__label-wrapper">
    <div class="label-wrapper__label">Avaible survey's listing</div>
  </div>
  <div id="listing-table_0" class="listing-wrapper__custom-table custom-table">
    <div class="custom-table__table-header-wrapper table-header-wrapper">
      <div class="table-header-wrapper__table-header-element table-header-element">
        <div class="table-header-element__arrows-wrapper arrows-wrapper">
          <div id="sort-arrow_up_0_table_0"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
          <div id="sort-arrow_down_0_table_0"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
        </div>
        <div class="table-header-element__label">
          Label
        </div>
      </div>
    </div>
    <% unless @avaible_surveys.empty? %>
      <% @avaible_surveys.each do |survey| %>
        <%= link_to(attempt_employee_survey_url(survey), class: "custom-table__table-row-wrapper table-row-wrapper link-div table-row_0") do %>
          <div class="table-row-wrapper__information">
            <%= survey.label %>
          </div>
        <% end %>
      <% end %>
      <%= paginate @avaible_surveys %>
    <% else %>
      <div class="custom-table__message">Empty</div>
    <% end %>
  </div>
  <div class="listing-wrapper__label-wrapper">
    <div class="label-wrapper__label">Conducted survey's listing</div>
  </div>
  <div id="listing-table_1" class="listing-wrapper__custom-table custom-table">
    <div class="custom-table__table-header-wrapper table-header-wrapper">
      <div class="table-header-wrapper__table-header-element table-header-element">
        <div class="table-header-element__arrows-wrapper arrows-wrapper">
          <div id="sort-arrow_up_0_table_1"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
          <div id="sort-arrow_down_0_table_1"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
        </div>
        <div class="table-header-element__label">
          Label
        </div>
      </div>
    </div>
    <% unless @conducted_surveys.empty? %>
      <% @conducted_surveys.each do |survey| %>
        <div class="custom-table__table-row-wrapper table-row-wrapper link-div table-row_0">
          <div class="table-row-wrapper__information">
            <%= survey.label %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="custom-table__message">Empty</div>
    <% end %>
  </div>
</div>
