<%= javascript_pack_tag "extra/table-behavior.js" %>

<div class="model-wrapper">
  <div class="model-wrapper__label">Employee info</div>
  <div class="model-wrapper__model-group">
    <div class="model-wrapper__model-info-block">
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">First name: </div>
        <div class="model-info-wrapper__info"><%= @employee.first_name %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Last name:</div>
        <div class="model-info-wrapper__info"><%= @employee.last_name %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Age:</div>
        <div class="model-info-wrapper__info"><%= @employee.age %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Email:</div>
        <div class="model-info-wrapper__info"><%= @employee.account.email %></div>
      </div>
    </div>
    <div class="model-wrapper__model-info-block">
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Account type: </div>
        <div class="model-info-wrapper__info"><%= @employee.account_type %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Position age:</div>
        <div class="model-info-wrapper__info"><%= @employee.position_age %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Is unsubscribed from new surveys:</div>
        <div class="model-info-wrapper__info"><%= @employee.opt_out %></div>
      </div>
    </div>
  </div>
  <div class="model-wrapper__model-table-wrapper model-table-wrapper">
    <div class="model-table-wrapper__label">Employee's groups</div>
    <div id="listing-table_0" class="model-table-wrapper__table custom-table">
      <div class="custom-table__table-header-wrapper table-header-wrapper">
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__arrows-wrapper arrows-wrapper">
            <div id="sort-arrow_up_0_table_0"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
            <div id="sort-arrow_down_0_table_0"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
          </div>
          <div class="table-header-element__label">
            Label
          </div>
        </div>
      </div>
      <% unless @employee.groups.empty? %>
        <% @employee.groups.each do |group| %>
          <%= link_to(employer_group_url(group), class: "custom-table__table-row-wrapper table-row-wrapper link-div table-row_0") do %>
            <div class="table-row-wrapper__information">
              <%= group.label %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="custom-table__message">Empty</div>
      <% end %>
    </div>
  </div>
  <div class="model-wrapper__model-table-wrapper model-table-wrapper">
    <div class="model-table-wrapper__label">Assigned for this employee surveys</div>
    <div id="listing-table_1" class="model-table-wrapper__table custom-table">
      <div class="custom-table__table-header-wrapper table-header-wrapper">
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__arrows-wrapper arrows-wrapper">
            <div id="sort-arrow_up_3_table_1"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
            <div id="sort-arrow_down_3_table_1"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
          </div>
          <div class="table-header-element__label">
            Survey
          </div>
        </div>
      </div>
      <% unless @available_surveys.empty? %>
        <% @available_surveys.each do |connection| %>
          <div class="custom-table__table-row-wrapper table-row-wrapper table-row_1 ">
            <div class="table-row-wrapper__information">
              <%= connection.survey.label %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="custom-table__message">Empty</div>
      <% end %>
    </div>
  </div>
  <div class="model-wrapper__model-table-wrapper model-table-wrapper">
    <div class="model-table-wrapper__label">Completed surveys by this employee</div>
    <div id="listing-table_1" class="model-table-wrapper__table custom-table">
      <div class="custom-table__table-header-wrapper table-header-wrapper">
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__arrows-wrapper arrows-wrapper">
            <div id="sort-arrow_up_3_table_1"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
            <div id="sort-arrow_down_3_table_1"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
          </div>
          <div class="table-header-element__label">
            Survey
          </div>
        </div>
      </div>
      <% unless @conducted_surveys.empty? %>
        <% @conducted_surveys.each do |connection| %>
          <%= link_to(employer_result_url(connection), class: "custom-table__table-row-wrapper table-row-wrapper link-div table-row_1") do %>
            <div class="table-row-wrapper__information">
              <%= connection.survey.label %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="custom-table__message">Empty</div>
      <% end %>
    </div>
  </div>
</div>
