<%= content_tag :div, id: "employers_data", data: {employers: @employers_data} do %>
<% end %>

<%= javascript_pack_tag "moderator/surveys/new.js" %>
<%= javascript_pack_tag "extra/table-behavior.js" %>

<%= form_with scope: :survey, url: moderator_surveys_url(@survey), method: :post, class: "model-wrapper" do |survey_form| %>
  <%= survey_form.text_field :label, placeholder: 'New survey', class: 'model-wrapper__label-text-field' %>
  <div class="model-wrapper__model-table-wrapper model-table-wrapper">
    <div class="model-table-wrapper__label">Employer associated with this survey</div>
    <div id="listing-table_0" class="model-table-wrapper__table custom-table">
      <div class="custom-table__table-header-wrapper table-header-wrapper">
        <div class="w-10 table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label">
            Logo
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label">
            Label
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label">
            Email
          </div>
        </div>
      </div>
      <div class="custom-table__table-row-wrapper table-row-wrapper link-div table-row_0">
        <div class="w-10 table-row-wrapper__information">
          <%= image_tag(@current_account.account_user.employer.logo_url, size: "75x75", alt: "Logo load failed") %>
        </div>
        <div class="table-row-wrapper__information">
          <%= @current_account.account_user.employer.label %>
        </div>
        <div class="table-row-wrapper__information">
          <%= @current_account.account_user.employer.public_email %>
        </div>
      </div>
      <div id="add_button" class="custom-table__table-row-wrapper table-row-wrapper link-div custom-table__message">
        <%= inline_svg_tag('plus-sign.svg', class: "svg-plus") %>
      </div>
    </div>
  </div>

  <div id="current-qgroups-wrapper"></div>
  <div id="add_qgroup" class="add-button">
    <div class="add-button__centered-label">
      Add new question group
    </div>
  </div>
  <div id="current_employer_id" style="display: none;"></div>

  <%= survey_form.submit "Create survey" %>  
<% end %>

<div id="modal_0" class="modal-background modal-background--hidden">
  <div class="modal-content">
    <div class="modal-content__header-wrapper">
      <div class="modal-content__header-label">Select employer</div>
      <div id="modal-close_0" class="modal-content__header-button">
        <%= inline_svg_tag('cross-sign.svg', class: "svg-cross") %>
      </div>
    </div>
    <div class="modal-content__body">
      <div id="listing-table_1" class="listing-wrapper__custom-table custom-table">
        <div class="custom-table__table-header-wrapper table-header-wrapper">
          <div class="table-header-wrapper__table-header-element table-header-element w-10">
            <div class="table-header-element__label">
              Logo
            </div>
          </div>
          <div class="table-header-wrapper__table-header-element table-header-element">
            <div class="table-header-element__arrows-wrapper arrows-wrapper">
              <div id="sort-arrow_up_1_table_1"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
              <div id="sort-arrow_down_1_table_1"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
            </div>
            <div class="table-header-element__label">
              Label
            </div>
          </div>
          <div class="table-header-wrapper__table-header-element table-header-element">
            <div class="table-header-element__arrows-wrapper arrows-wrapper">
              <div id="sort-arrow_up_2_table_1"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
              <div id="sort-arrow_down_2_table_1"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
            </div>
            <div class="table-header-element__label">
              Email
            </div>
          </div>
        </div>
        <!-- Employers data goes here -->
      </div>
    </div>
  </div>
</div>
