<%= javascript_pack_tag "extra/table-behavior.js" %>

<div class="model-wrapper">
  <div class="model-wrapper__label-wrapper">
    <div class="model-wrapper__label">Moderator information</div>
    <div class="model-wrapper__button-group">
      <%= button_to "Edit", edit_moderator_moderator_url(@moderator), method: :get, class: 'link-button' %>
      <%= button_to "Delete", moderator_moderator_url(@moderator), method: :delete, data: {confirm: "Are you sure?(Remember you can't delete yourself)"}, class: 'link-button' %>
    </div>
  </div>
  <div class="model-wrapper__model-group">
    <div class="model-wrapper__model-info-block">
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Nickname: </div>
        <div class="model-info-wrapper__info"><%= @moderator.nickname %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Email:</div>
        <div class="model-info-wrapper__info"><%= @moderator.account.email %></div>
      </div>
    </div>
  </div>
</div>
