<%= javascript_pack_tag "extra/table-behavior.js" %>

<div class="model-wrapper">
  <div class="model-wrapper__label">User info</div>
  <div class="model-wrapper__model-group">
    <div class="model-wrapper__model-info-block">
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">First name: </div>
        <div class="model-info-wrapper__info"><%= @user.first_name %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Last name:</div>
        <div class="model-info-wrapper__info"><%= @user.last_name %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Age:</div>
        <div class="model-info-wrapper__info"><%= @user.age %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Email:</div>
        <div class="model-info-wrapper__info"><%= @user.email %></div>
      </div>
    </div>
    <div class="model-wrapper__model-info-block">
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Account type: </div>
        <div class="model-info-wrapper__info"><%= @user.account_type %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Password:</div>
        <div class="model-info-wrapper__info"><%= @user.password %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Position age:</div>
        <div class="model-info-wrapper__info"><%= @user.position_age %></div>
      </div>
      <div class="model-wrapper__model-info-wrapper">
        <div class="model-info-wrapper__label">Is unsubscribed from new surveys:</div>
        <div class="model-info-wrapper__info"><%= @user.opt_out %></div>
      </div>
    </div>
  </div>
  <div class="model-wrapper__model-table-wrapper model-table-wrapper">
    <div class="model-table-wrapper__label">User's segments</div>
    <div id="listing-table_0" class="model-table-wrapper__table custom-table">
      <div class="custom-table__table-header-wrapper table-header-wrapper">
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__arrows-wrapper arrows-wrapper">
            <div id="sort-arrow_up_0_table_0"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
            <div id="sort-arrow_down_0_table_0"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
          </div>
          <div class="table-header-element__label">
            Label
          </div>
        </div>
      </div>
      <% unless @user_segments.empty? %>
        <% @user_segments.each do |segment| %>
          <%= link_to(admin_segment_url(segment), class: "custom-table__table-row-wrapper table-row-wrapper link-div table-row_0") do %>
            <div class="table-row-wrapper__information">
              <%= segment.label %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="custom-table__message">Empty</div>
      <% end %>
    </div>
  </div>
  <div class="model-wrapper__model-table-wrapper model-table-wrapper">
    <div class="model-table-wrapper__label">Users's answers</div>
    <div id="listing-table_1" class="model-table-wrapper__table custom-table">
      <div class="custom-table__table-header-wrapper table-header-wrapper">
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__arrows-wrapper arrows-wrapper">
            <div id="sort-arrow_up_0_table_1"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
            <div id="sort-arrow_down_0_table_1"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
          </div>
          <div class="table-header-element__label">
            Answer
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__arrows-wrapper arrows-wrapper">
            <div id="sort-arrow_up_1_table_1"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
            <div id="sort-arrow_down_1_table_1"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
          </div>
          <div class="table-header-element__label">
            Question
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__arrows-wrapper arrows-wrapper">
            <div id="sort-arrow_up_2_table_1"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
            <div id="sort-arrow_down_2_table_1"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
          </div>
          <div class="table-header-element__label">
            Question group
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__arrows-wrapper arrows-wrapper">
            <div id="sort-arrow_up_3_table_1"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
            <div id="sort-arrow_down_3_table_1"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
          </div>
          <div class="table-header-element__label">
            Survey
          </div>
        </div>
      </div>
      <% unless @user_answers.empty? %>
      
        <% @user_answers.each do |answer| %>
          <div class="custom-table__table-row-wrapper table-row-wrapper table-row_1 ">
            <div class="table-row-wrapper__information">
              <%= answer.answer_val %>
            </div>
            <div class="table-row-wrapper__information">
              <%= answer.question.question_type %>
            </div>
            <div class="table-row-wrapper__information">
              <%= answer.question.question_group.label %>
            </div>
            <div class="table-row-wrapper__information">
              <%= answer.question.question_group.survey.label %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="custom-table__message">Empty</div>
      <% end %>
    </div>
  </div>
  
</div>
