<%= javascript_pack_tag "extra/table-behavior.js" %>

<div class="model-wrapper">
  <div class="model-wrapper__label"><%= @segment.label %></div>
  
  <div class="model-wrapper__model-table-wrapper model-table-wrapper">
    <div class="model-table-wrapper__label">Segment's companies</div>
    <div id="listing-table_0" class="model-table-wrapper__table custom-table">
      <div class="custom-table__table-header-wrapper table-header-wrapper">
        <div class="table-header-wrapper__table-header-element table-header-element w-10">
          <div class="table-header-element__label">
            Logo
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__arrows-wrapper arrows-wrapper">
            <div id="sort-arrow_up_0_table_0"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
            <div id="sort-arrow_down_0_table_0"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
          </div>
          <div class="table-header-element__label">
            Label
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__arrows-wrapper arrows-wrapper">
            <div id="sort-arrow_up_1_table_0"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
            <div id="sort-arrow_down_1_table_0"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
          </div>
          <div class="table-header-element__label">
            Email
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__arrows-wrapper arrows-wrapper">
            <div id="sort-arrow_up_2_table_0"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
            <div id="sort-arrow_down_2_table_0"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
          </div>
          <div class="table-header-element__label">
            Phone
          </div>
        </div>
      </div>
      <% unless @segment_clients.empty? %>
        <% @segment_clients.each do |client| %>
          <%= link_to(admin_client_url(client), class: "custom-table__table-row-wrapper table-row-wrapper link-div table-row_0") do %>
            <div class="table-row-wrapper__information w-10">
              <%= image_tag(client.logo_url, size: "75x75") %>
            </div>
            <div class="table-row-wrapper__information">
              <%= client.label %>
            </div>
            <div class="table-row-wrapper__information">
              <%= client.email %>
            </div>
            <div class="table-row-wrapper__information">
              <%= client.phone %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="custom-table__message">Empty</div>
      <% end %>
    </div>
  </div>
  <div class="model-wrapper__model-table-wrapper model-table-wrapper">
    <div class="model-table-wrapper__label">Segment's users</div>
    <div id="listing-table_1" class="model-table-wrapper__table custom-table">
      <div class="custom-table__table-header-wrapper table-header-wrapper">
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__arrows-wrapper arrows-wrapper">
            <div id="sort-arrow_up_0_table_1"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
            <div id="sort-arrow_down_0_table_1"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
          </div>
          <div class="table-header-element__label">
            First name
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__arrows-wrapper arrows-wrapper">
            <div id="sort-arrow_up_1_table_1"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
            <div id="sort-arrow_down_1_table_1"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
          </div>
          <div class="table-header-element__label">
            Last name
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__arrows-wrapper arrows-wrapper">
            <div id="sort-arrow_up_2_table_1"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
            <div id="sort-arrow_down_2_table_1"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
          </div>
          <div class="table-header-element__label">
            Email
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__arrows-wrapper arrows-wrapper">
            <div id="sort-arrow_up_3_table_1"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
            <div id="sort-arrow_down_3_table_1"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
          </div>
          <div class="table-header-element__label">
            Company
          </div>
        </div>
      </div>
      <% unless @segment_users.empty? %>
        <% @segment_users.each do |user| %>
          <%= link_to(admin_user_url(user), class: "custom-table__table-row-wrapper table-row-wrapper link-div table-row_1") do %>
            <div class="table-row-wrapper__information">
              <%= user.first_name %>
            </div>
            <div class="table-row-wrapper__information">
              <%= user.last_name %>
            </div>
            <div class="table-row-wrapper__information">
              <%= user.email %>
            </div>
            <div class="table-row-wrapper__information">
              <%= user.client.label %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="custom-table__message">Empty</div>
      <% end %>
    </div>
  </div>
</div>
