<div class="model-wrapper">
  <div class="object-group-wrapper">
    <div class="object-group-wrapper__label">Segment Info</div>
    <div class="colored-group">
      <div class="object-group-wrapper__info-wrapper info-wrapper">
        <div class="info-wrapper__label">Label:</div>
        <div class="info-wrapper__information">
          <%= @segment.label %>
        </div>
      </div>
    </div>
  </div>

  <div class="object-group-wrapper">
    <div class="object-group-wrapper__label">Segment's clients</div>
    <% unless @segment_clients.empty? %>
      <% @segment_clients.each do |client| %>
        <div class="colored-group">
          <div class="object-group-wrapper__info-wrapper info-wrapper">
            <div class="info-wrapper__label">Label:</div>
            <div class="info-wrapper__information">
              <%= client.label %>
            </div>
            <%= link_to "Details", admin_client_url(client), class: "link-button" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="object-group-wrapper__message colored-group">Empty</div>
    <% end %>
  </div>

  <div class="object-group-wrapper">
    <div class="object-group-wrapper__label">Segment's users</div>
    <% unless @segment_users.empty? %>
      <% @segment_users.each do |user| %>
        <div class="colored-group">
          <div class="object-group-wrapper__info-wrapper info-wrapper">
            <div class="info-wrapper__label">First name:</div>
            <div class="info-wrapper__information">
              <%= user.first_name %>
            </div>
          </div>
          <div class="object-group-wrapper__info-wrapper info-wrapper">
            <div class="info-wrapper__label">Last name:</div>
            <div class="info-wrapper__information">
              <%= user.last_name %>
            </div>
          </div>
          <%= link_to "Details", admin_user_url(user), class: "link-button object-group-wrapper__button" %>
        </div>
      <% end %>
    <% else %>
      <div class="object-group-wrapper__message colored-group">Empty</div>
    <% end %>
  </div>
</div>