<%= javascript_pack_tag "admin/table-behavior.js" %>

<div class="listing-wrapper">
  <div class="listing-wrapper__label-wrapper">
    <div class="label-wrapper__label">User's listing</div>
    <%= link_to "Add new user", new_admin_user_url, class: "link-button label-wrapper__button" %>
  </div>
  <div id="listing-table_0" class="listing-wrapper__custom-table custom-table">
    <div class="custom-table__table-header-wrapper table-header-wrapper">
      <div class="table-header-wrapper__table-header-element table-header-element">
        <div class="table-header-element__arrows-wrapper arrows-wrapper">
          <div id="sort-arrow_up_0_table_0"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
          <div id="sort-arrow_down_0_table_0"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
        </div>
        <div class="table-header-element__label">
          First name
        </div>
      </div>
      <div class="table-header-wrapper__table-header-element table-header-element">
        <div class="table-header-element__arrows-wrapper arrows-wrapper">
          <div id="sort-arrow_up_1_table_0"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
          <div id="sort-arrow_down_1_table_0"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
        </div>
        <div class="table-header-element__label">
          Last name
        </div>
      </div>
      <div class="table-header-wrapper__table-header-element table-header-element">
        <div class="table-header-element__arrows-wrapper arrows-wrapper">
          <div id="sort-arrow_up_2_table_0"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
          <div id="sort-arrow_down_2_table_0"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
        </div>
        <div class="table-header-element__label">
          Email
        </div>
      </div>
      <div class="table-header-wrapper__table-header-element table-header-element">
        <div class="table-header-element__arrows-wrapper arrows-wrapper">
          <div id="sort-arrow_up_3_table_0"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
          <div id="sort-arrow_down_3_table_0"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
        </div>
        <div class="table-header-element__label">
          Company
        </div>
      </div>
    </div>
    <% unless @users.empty? %>
      <% @users.each do |user| %>
        <%= link_to(admin_user_url(user), class: "custom-table__table-row-wrapper table-row-wrapper link-div table-row_0") do %>
          <div class="table-row-wrapper__information">
            <%= user.first_name %>
          </div>
          <div class="table-row-wrapper__information">
            <%= user.last_name %>
          </div>
          <div class="table-row-wrapper__information">
            <%= user.email %>
          </div>
          <div class="table-row-wrapper__information">
            <%= user.client.label %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="custom-table__message">Empty</div>
    <% end %>
  </div>
</div>

