<div class="model-wrapper">
  <div class="object-group-wrapper">
    <div class="object-group-wrapper__label">User Info</div>
    <div class="colored-group">
      <div class="object-group-wrapper__info-wrapper info-wrapper">
        <div class="info-wrapper__label">First name:</div>
        <div class="info-wrapper__information">
          <%= @user.first_name %>
        </div>
      </div>
      <div class="object-group-wrapper__info-wrapper info-wrapper">
        <div class="info-wrapper__label">Last name:</div>
        <div class="info-wrapper__information">
          <%= @user.last_name %>
        </div>
      </div>
      <div class="object-group-wrapper__info-wrapper info-wrapper">
        <div class="info-wrapper__label">Email:</div>
        <div class="info-wrapper__information">
          <%= @user.email %>
        </div>
      </div>
      <div class="object-group-wrapper__info-wrapper info-wrapper">
        <div class="info-wrapper__label">Password:</div>
        <div class="info-wrapper__information">
          <%= @user.password %>
        </div>
      </div>
      <div class="object-group-wrapper__info-wrapper info-wrapper">
        <div class="info-wrapper__label">Account type:</div>
        <div class="info-wrapper__information">
          <%= @user.account_type %>
        </div>
      </div>
      <div class="object-group-wrapper__info-wrapper info-wrapper">
        <div class="info-wrapper__label">Age:</div>
        <div class="info-wrapper__information">
          <%= @user.age %>
        </div>
      </div>
      <div class="object-group-wrapper__info-wrapper info-wrapper">
        <div class="info-wrapper__label">Position age value:</div>
        <div class="info-wrapper__information">
          <%= @user.position_age %>
        </div>
      </div>
      <div class="object-group-wrapper__info-wrapper info-wrapper">
        <div class="info-wrapper__label">Is unsubscribed from new surveys:</div>
        <div class="info-wrapper__information">
          <%= @user.opt_out %>
        </div>
      </div>
    </div>
  </div>

  <div class="object-group-wrapper">
    <div class="object-group-wrapper__label">User's client</div>
    <div class="colored-group">
      <div class="object-group-wrapper__info-wrapper info-wrapper">
        <div class="info-wrapper__label">Label:</div>
        <div class="info-wrapper__information">
          <%= @user_client.label %>
        </div>
        <%= link_to "Details", admin_client_url(@user.client), class: "link-button" %>
      </div>
    </div>
  </div>

  <div class="object-group-wrapper">
    <div class="object-group-wrapper__label">User's segments</div>
    <div class="colored-group">
      <% unless @user_segments.empty? %>
        <% @user_segments.each do |segment| %>
          <div class="object-group-wrapper__info-wrapper info-wrapper">
            <div class="info-wrapper__label">Label:</div>
            <div class="info-wrapper__information">
              <%= segment.label %>
            </div>
            <%= link_to "Details", admin_segment_url(segment), class: "link-button" %>
          </div>
        <% end %>
      <% else %>
        <div class="object-group-wrapper__message">Empty</div>
      <% end %>
    </div>
  </div>

  <div class="object-group-wrapper">
    <div class="object-group-wrapper__label">User's answers</div>
    <% unless @user_answers.empty? %>
      <% @user_answers.each do |answer| %>
        <div class="colored-group">
          <div class="object-group-wrapper__info-wrapper info-wrapper">
            <div class="info-wrapper__label">Survey:</div>
            <div class="info-wrapper__information">
              <%= answer.question.question_group.survey.label %>
            </div>
            <%= link_to "Details", admin_survey_url(answer.question.question_group.survey), class: "link-button" %>
          </div>
          <div class="object-group-wrapper__info-wrapper info-wrapper">
            <div class="info-wrapper__label">Question group:</div>
            <div class="info-wrapper__information">
              <%= answer.question.question_group.label %>
            </div>
          </div>
          <div class="object-group-wrapper__info-wrapper info-wrapper">
            <div class="info-wrapper__label">Question:</div>
            <div class="info-wrapper__information">
              <%= answer.question.question_type %>
            </div>
          </div>
          <div class="object-group-wrapper__info-wrapper info-wrapper">
            <div class="info-wrapper__label">Answer:</div>
            <div class="info-wrapper__information">
              <%= answer.answer_val %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="object-group-wrapper__message colored-group">Empty</div>
    <% end %>
  </div>
</div>