<%= content_tag :div, id: "employees_data", data: {employees: @employees_data} do %>
<% end %>
<%= content_tag :div, id: "employers_data", data: {employers: @employers_data} do %>
<% end %>

<%= javascript_pack_tag "employer/groups/new.js" %>
<%= javascript_pack_tag "extra/table-behavior.js" %>

<%= form_with scope: :group, url: employer_groups_url(@group), method: :post, class: "model-wrapper" do |group_form| %>
  <div class="model-wrapper__label">New group</div>
  <div class="model-wrapper__model-group">
    <div class="model-wrapper__model-info-block">
      <div class="model-wrapper__model-info-wrapper input-wrapper">
        <div class="model-info-wrapper__label">Label: </div>
        <div class="model-info-wrapper__info"><%= group_form.text_field :label %></div>
      </div>
    </div>
  </div>
  
  <div class="model-wrapper__model-table-wrapper model-table-wrapper">
    <div class="model-table-wrapper__label">Group's employees</div>
    <div id="listing-table_0" class="model-table-wrapper__table custom-table">
      <div class="custom-table__table-header-wrapper table-header-wrapper">
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label">
            First name
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label">
            Last name
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label">
            Email
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label"></div>
        </div>
      </div>
      <div id="add-row_0" class="custom-table__table-row-wrapper table-row-wrapper link-div custom-table__message">
        <%= inline_svg_tag('plus-sign.svg', class: "svg-plus") %>
      </div>
    </div>
  </div>

  <div class="model-wrapper__model-table-wrapper model-table-wrapper">
    <div class="model-table-wrapper__label">Group's company</div>
    <div id="listing-table_1" class="model-table-wrapper__table custom-table">
      <div class="custom-table__table-header-wrapper table-header-wrapper">
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label w-10">
            Logo
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label">
            Label
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label">
            Email
          </div>
        </div>
        <div class="table-header-wrapper__table-header-element table-header-element">
          <div class="table-header-element__label"></div>
        </div>
      </div>
      <div class="custom-table__table-row-wrapper table-row-wrapper table-row_1">
        <div class="table-row-wrapper__information w-10">
          <%= image_tag(current_account.account_user.logo_url, size: "75x75", alt: "Image load failed") %>
        </div>  
        <div class="table-row-wrapper__information">
          <%= current_account.account_user.label %>
        </div> 
        <div class="table-row-wrapper__information">
          <%= current_account.account_user.public_email %>
        </div>   
      </div>
    </div>
  </div>

  <div id="current-employee-ids" style="display: none;"></div>

  <%= group_form.submit "Create group" %>
  
<% end %>

<div id="modal_0" class="modal-background modal-background--hidden">
  <div class="modal-content">
    <div class="modal-content__header-wrapper">
      <div class="modal-content__header-label">Select employee</div>
      <div id="modal-close_0" class="modal-content__header-button">
        <%= inline_svg_tag('cross-sign.svg', class: "svg-cross") %>
      </div>
    </div>
    <div class="modal-content__body">
      <div id="listing-table_2" class="listing-wrapper__custom-table custom-table">
        <div class="custom-table__table-header-wrapper table-header-wrapper">
          <div class="table-header-wrapper__table-header-element table-header-element">
            <div class="table-header-element__label">
              First name
            </div>
          </div>
          <div class="table-header-wrapper__table-header-element table-header-element">
            <div class="table-header-element__label">
              Last name
            </div>
          </div>
          <div class="table-header-wrapper__table-header-element table-header-element">
            <div class="table-header-element__label">
              Email
            </div>
          </div>
        </div>
        <!-- Employees data goes here -->
      </div>
    </div>
  </div>
</div>
