<!DOCTYPE html>
<html>
  <head>
    <title>Admin Access</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "admin" %>
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <%= link_to "Admin", admin_root_url, class: "header__label font-large" %>
        <div class="header__sections header-sections">
          <%= link_to "Administrators", admin_admins_url, class: "header-sections__section font-big" %>
          <%= link_to "Surveys", admin_surveys_url, class: "header-sections__section font-big" %>
          <%= link_to "Employees", admin_employees_url, class: "header-sections__section font-big" %>
          <%= link_to "Employers", admin_employers_url, class: "header-sections__section font-big" %>
          <%= link_to "Results", admin_results_url, class: "header-sections__section font-big" %>
          <%= link_to "Segments", admin_segments_url, class: "header-sections__section font-big" %>
        </div>
        <div class="header__buttons header-buttons">
          <%= button_to "Logout", destroy_account_session_path, method: :delete, class: "header-buttons__button font-medium" %>
        </div>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="content">
        <%= yield %>
      </div>
      <div class="footer">
        <div class="footer__text font-small">
          site design / logo © 2020 boss078, Inc.
        </div>
      </div>
    </div>  
  </body>
</html>
