<!DOCTYPE html>
<html>
  <head>
    <title>Admin Access</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <div class="header__label font-large">
          Home
        </div>
        <div class="header__sections header-sections">
          <%= link_to "Sign up as admin", new_administrator_registration_url, class: "header-sections__section font-big" %>
          <%= link_to "Log in as admin", new_administrator_session_url, class: "header-sections__section font-big" %>
          <%= link_to "Sign up as company", new_client_registration_url, class: "header-sections__section font-big" %>
          <%= link_to "Log in as company", new_client_session_url, class: "header-sections__section font-big" %>
          <%= link_to "Sign up as user", new_user_registration_url, class: "header-sections__section font-big" %>
          <%= link_to "Log in as user", new_user_session_url, class: "header-sections__section font-big" %>
        </div>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="content">
        <%= yield %>
      </div>
      <div class="footer">
        <div class="footer__text font-small">
          site design / logo © 2020 boss078, Inc.
        </div>
      </div>
    </div>  
  </body>
</html>
