<!DOCTYPE html>
<html>
  <head>
    <title>Surveys Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "page_global" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <div class="header__label font-large">
          Home
        </div>
        <div class="header__sections header-sections">
          <%= link_to "Sign up", new_account_registration_url, class: "header-sections__section font-big" %>
          <%= link_to "Log in", new_account_session_url, class: "header-sections__section font-big" %>

        </div>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="content">
        <%= yield %>
      </div>
      <div class="footer">
        <div class="footer__text font-small">
          site design / logo © 2020 boss078, Inc.
        </div>
      </div>
    </div>  
  </body>
</html>
