<!DOCTYPE html>
<html>
  <head>
    <title>Employee Access</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "user" %>
  </head>

  <body>
    <div class="user-wrapper">
      <div class="user-header">
        <div class="user-header__label font-large">
          Employee
        </div>
        <div class="user-header__sections header-sections">
          <%= link_to "Surveys", user_surveys_url, class: "user-header-sections__section font-big" %>
        </div>
        <div class="user-header__buttons user-header-buttons">
          <%= button_to "Logout", destroy_user_session_url, method: :delete, class: "user-header-buttons__button font-medium" %>
        </div>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="content">
        <%= yield %>
      </div>
      <div class="user-footer">
        <div class="user-footer__text font-small">
          site design / logo © 2020 boss078, Inc.
        </div>
      </div>
    </div>  
  </body>
</html>
