<%= content_tag :div, id: "clients_data", data: {clients: @clients_data} do %>
<% end %>

<%= javascript_pack_tag "user/registrations/new.js" %>

<div class="wrapper">
  <h2>Sign up as user</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autocomplete: "first_name" %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autocomplete: "last_name" %>
    </div>
    <div class="field">
      <%= f.label :age %><br />
      <%= f.number_field :age, autocomplete: "age" %>
    </div>

    <div class="select">
      <%= f.label :account_type %><br />
    <%= f.select :account_type, [["Bronze", "bronze"], ["Silver", "silver"], ["Gold", "gold"]] %>
    </div>

    <div class="model-wrapper__model-table-wrapper model-table-wrapper">
      <div class="model-table-wrapper__label">User's company</div>
      <div id="listing-table_0" class="model-table-wrapper__table custom-table">
        <div class="custom-table__table-header-wrapper table-header-wrapper">
          <div class="w-10 table-header-wrapper__table-header-element table-header-element">
            <div class="table-header-element__label">
              Logo
            </div>
          </div>
          <div class="table-header-wrapper__table-header-element table-header-element">
            <div class="table-header-element__label">
              Label
            </div>
          </div>
          <div class="table-header-wrapper__table-header-element table-header-element">
            <div class="table-header-element__label">
              Email
            </div>
          </div>
          <div class="w-10 table-header-wrapper__table-header-element table-header-element">
            <div class="table-header-element__label">
            </div>
          </div>
        </div>
        <div id="add-row_0" class="custom-table__table-row-wrapper table-row-wrapper link-div custom-table__message">
          <%= inline_svg_tag('plus-sign.svg', class: "svg-plus") %>
        </div>
      </div>
    </div>
    <div id="current_client_id" style="display: none;"></div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>

<div id="modal_0" class="modal-background modal-background--hidden">
  <div class="modal-content">
    <div class="modal-content__header-wrapper">
      <div class="modal-content__header-label">Select company</div>
      <div id="modal-close_0" class="modal-content__header-button">
        <%= inline_svg_tag('cross-sign.svg', class: "svg-cross") %>
      </div>
    </div>
    <div class="modal-content__body">
      <div id="listing-table_1" class="listing-wrapper__custom-table custom-table">
        <div class="custom-table__table-header-wrapper table-header-wrapper">
          <div class="table-header-wrapper__table-header-element table-header-element w-10">
            <div class="table-header-element__label">
              Logo
            </div>
          </div>
          <div class="table-header-wrapper__table-header-element table-header-element">
            <div class="table-header-element__arrows-wrapper arrows-wrapper">
              <div id="sort-arrow_up_1_table_1"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
              <div id="sort-arrow_down_1_table_1"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
            </div>
            <div class="table-header-element__label">
              Label
            </div>
          </div>
          <div class="table-header-wrapper__table-header-element table-header-element">
            <div class="table-header-element__arrows-wrapper arrows-wrapper">
              <div id="sort-arrow_up_2_table_1"><%= inline_svg_tag('up-chevron.svg', class: "svg-sorting-arrow") %></div>
              <div id="sort-arrow_down_2_table_1"><%= inline_svg_tag('down-chevron.svg', class: "svg-sorting-arrow") %></div>
            </div>
            <div class="table-header-element__label">
              Email
            </div>
          </div>
        </div>
        <!-- Clients data goes here -->
      </div>
    </div>
  </div>
</div>
